services:
    app:
        image: oven/bun:1-alpine
        command: sh -c "bun install && bun run dev"
        ports:
            - '3000:3000'
        working_dir: /app
        volumes:
            - ./:/app
            - /app/node_modules # Protects the container's dependencies from the host machine
        environment:
            POSTGRES_HOST: db
            POSTGRES_USER: root
            POSTGRES_PASSWORD: secret
            POSTGRES_DB: todos
        depends_on:
            - db

    db:
        image: postgres:15-alpine
        ports:
            - 5432:5432
        environment:
            POSTGRES_USER: root
            POSTGRES_PASSWORD: secret
            POSTGRES_DB: todos
        volumes:
            - pgdata:/var/lib/postgresql/data

volumes:
    pgdata:
