version: '3.8'

services:
    api:
        image: asia-southeast1-docker.pkg.dev/voltarocks-42-sandbox/todo-repo/todo-app:latest
        ports:
            - '80:3000'
        environment:
            POSTGRES_HOST: db
            POSTGRES_USER: ${POSTGRES_USER}
            POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
            POSTGRES_DB: ${POSTGRES_DB}
            NODE_ENV: production
        networks:
            - todo-internal
        deploy:
            update_config:
                order: start-first
    db:
        image: postgres:15-alpine
        environment:
            POSTGRES_USER: ${POSTGRES_USER}
            POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
            POSTGRES_DB: ${POSTGRES_DB}
        volumes:
            - pgdata:/var/lib/postgresql/data
        networks:
            - todo-internal

volumes:
    pgdata:

networks:
    todo-internal:
        driver: overlay
