version: '3.8'

services:
    nginx-proxy:
        image: nginxproxy/nginx-proxy
        ports:
            - '80:80'
            - '443:443'
        volumes:
            - '/var/run/docker.sock:/tmp/docker.sock:ro'
            - certs:/etc/nginx/certs
            - vhost:/etc/nginx/vhost.d
            - html:/usr/share/nginx/html
        deploy:
            labels:
                com.github.nginx-proxy.docker-gen: 'true'
        networks:
            - todo-internal

    self-companion:
        image: nginxproxy/acme-companion
        volumes:
            - /var/run/docker.sock:/var/run/docker.sock:ro
            - certs:/etc/nginx/certs
            - vhost:/etc/nginx/vhost.d
            - html:/usr/share/nginx/html
            - acme:/etc/acme.sh
        environment:
            - DEFAULT_EMAIL=nathan.pham1505@gmail.com
        networks:
            - todo-internal
    api:
        image: asia-southeast1-docker.pkg.dev/voltarocks-42-sandbox/todo-repo/todo-app:latest
        environment:
            VIRTUAL_HOST: ngocpmt-todo-app.duckdns.org
            LETSENCRYPT_HOST: ngocpmt-todo-app.duckdns.org
            POSTGRES_HOST: db
            POSTGRES_USER: ${POSTGRES_USER}
            POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
            POSTGRES_DB: ${POSTGRES_DB}
            NODE_ENV: production
        networks:
            - todo-internal
        deploy:
            update_config:
                order: start-first
    db:
        image: postgres:15-alpine
        environment:
            POSTGRES_USER: ${POSTGRES_USER}
            POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
            POSTGRES_DB: ${POSTGRES_DB}
        volumes:
            - pgdata:/var/lib/postgresql/data
        networks:
            - todo-internal

    prometheus:
        image: prom/prometheus:latest
        volumes:
            - ./prometheus.yml:/etc/prometheus/prometheus.yml
            - prom_data:/prometheus
        networks:
            - todo-internal

    grafana:
        image: grafana/grafana:latest
        ports:
            - '127.0.0.1:3001:3000'
        environment:
            GF_SECURITY_ADMIN_PASSWORD: ${GRAFANA_PASSWORD}
        volumes:
            - grafana_data:/var/lib/grafana
        networks:
            - todo-internal
        depends_on:
            - prometheus

volumes:
    pgdata:
    prom_data:
    grafana_data:
    certs:
    vhost:
    html:
    acme:

networks:
    todo-internal:
        driver: overlay
        attachable: true
