services:
    api:
        image: oven/bun:1-alpine
        command: sh -c "bun install && bun run dev"
        ports:
            - '3000:3000'
        working_dir: /app
        volumes:
            - ./:/app
            - /app/node_modules # Protects the container's dependencies from the host machine
        environment:
            POSTGRES_HOST: db
            POSTGRES_USER: root
            POSTGRES_PASSWORD: secret
            POSTGRES_DB: todos
        depends_on:
            - db

    db:
        image: postgres:15-alpine
        ports:
            - 5432:5432
        environment:
            POSTGRES_USER: root
            POSTGRES_PASSWORD: secret
            POSTGRES_DB: todos
        volumes:
            - pgdata:/var/lib/postgresql/data

    prometheus:
        image: prom/prometheus:latest
        ports:
            - '9090:9090'
        volumes:
            - ./prometheus.yml:/etc/prometheus/prometheus.yml
            - prom_data:/prometheus
        depends_on:
            - api

    grafana:
        image: grafana/grafana:latest
        ports:
            - '3001:3000'
        environment:
            - GF_SECURITY_ADMIN_PASSWORD=admin
        volumes:
            - grafana_data:/var/lib/grafana
        depends_on:
            - prometheus

volumes:
    pgdata:
    prom_data:
    grafana_data:
