name: Deploy Todo API to GCP Swarm

on:
    push:
        branches:
            - main
        paths-ignore:
            - 'sst.config.ts'
            - '.sst/**'
            - 'README.md'
            - '.gitignore'

jobs:
    build-and-deploy:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Authenticate to Google Cloud
              uses: google-github-actions/auth@v2
              with:
                  credentials_json: '${{ secrets.GCP_CREDENTIALS }}'

            - name: Configure Docker for Artifact Registry
              run: |
                  gcloud auth configure-docker asia-southeast1-docker.pkg.dev --quiet

            - name: Build and Push Docker image
              run: |
                  docker build --provenance=false -t asia-southeast1-docker.pkg.dev/voltarocks-42-sandbox/todo-repo/todo-app:latest .
                  docker push asia-southeast1-docker.pkg.dev/voltarocks-42-sandbox/todo-repo/todo-app:latest

            - name: Discover VM name
              run: |
                  # Search for the VM with the tag 'todo-iac-vm' and extract only its name
                  DYNAMIC_NAME=$(gcloud compute instances list \
                    --project=voltarocks-42-sandbox \
                    --filter="tags.items=todo-iac-vm" \
                    --format="value(name)" \
                    --limit=1)

                  echo "Found VM: $DYNAMIC_NAME"
                  # Save it to the GitHub Environment so the next steps can use it
                  echo "VM_NAME=$DYNAMIC_NAME" >> $GITHUB_ENV

            - name: Deploy to Compute Engine via gcloud
              run: |
                  gcloud compute scp docker-compose.prod.yml $VM_NAME:~ \
                  --zone=asia-southeast1-a \
                  --project=voltarocks-42-sandbox \
                  --tunnel-through-iap

                  gcloud compute ssh $VM_NAME \
                  --zone=asia-southeast1-a \
                  --project=voltarocks-42-sandbox \
                  --tunnel-through-iap \
                  --command="gcloud auth print-access-token --quiet | sudo docker login -u oauth2accesstoken --password-stdin https://asia-southeast1-docker.pkg.dev && \
                  sudo POSTGRES_USER='${{  secrets.POSTGRES_USER  }}'' \
                       POSTGRES_PASSWORD='${{ secrets.POSTGRES_PASSWORD }}' \
                       POSTGRES_DB='${{ secrets.POSTGRES_DB }}' \
                       docker stack deploy --with-registry-auth -c docker-compose.prod.yml todo-app"
