name: Deploy Todo API to GCP Swarm

on:
    push:
        branches:
            - main
        paths-ignore:
            - 'sst.config.ts'
            - '.sst/**'
            - 'README.md'
            - '.gitignore'

jobs:
    build-and-deploy:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Authenticate to Google Cloud
              uses: google-github-actions/auth@v2
              with:
                  credentials_json: '${{ secrets.GCP_CREDENTIALS }}'

            - name: Configure Docker for Artifact Registry
              run: |
                  gcloud auth configure-docker asia-southeast1-docker.pkg.dev --quiet

            - name: Build and Push Docker image
              run: |
                  docker build --provenance=false -t asia-southeast1-docker.pkg.dev/voltarocks-42-sandbox/todo-repo/todo-app:latest .
                  docker push asia-southeast1-docker.pkg.dev/voltarocks-42-sandbox/todo-repo/todo-app:latest

            - name: Deploy to Compute Engine via gcloud
              run: |
                  gcloud compute ssh todo-swarm-manager-iac-e008c5a \
                    --zone=asia-southeast1-a \
                    --project=voltarocks-42-sandbox \
                    --tunnel-through-iap \
                    --command="gcloud auth print-access-token --quiet | sudo docker login -u oauth2accesstoken --password-stdin https://asia-southeast1-docker.pkg.dev && \
                    if sudo docker service inspect todo-backend >/dev/null 2>&1; then \
                        sudo docker service update \
                        --image asia-southeast1-docker.pkg.dev/voltarocks-42-sandbox/todo-repo/todo-app:latest \
                        --env-add MYSQL_HOST='${{ secrets.MYSQL_HOST }}' \
                        --env-add MYSQL_USER='${{ secrets.MYSQL_USER }}' \
                        --env-add MYSQL_PASSWORD='${{ secrets.MYSQL_PASSWORD }}' \
                        --env-add MYSQL_DB='${{ secrets.MYSQL_DB }}' \
                        --with-registry-auth \
                        --force todo-backend; \
                    else \
                        sudo docker service create \
                        --name todo-backend \
                        --publish published=3000,target=3000 \
                        --log-driver=gcplogs \
                        --env MYSQL_HOST='${{ secrets.MYSQL_HOST }}' \
                        --env MYSQL_USER='${{ secrets.MYSQL_USER }}' \
                        --env MYSQL_PASSWORD='${{ secrets.MYSQL_PASSWORD }}' \
                        --env MYSQL_DB='${{ secrets.MYSQL_DB }}' \
                        --with-registry-auth \
                        asia-southeast1-docker.pkg.dev/voltarocks-42-sandbox/todo-repo/todo-app:latest; \
                    fi"
